{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "LH Public API",
    "description": "",
    "license": {
      "name": "LH",
      "url": "https://developer.lufthansa.com"
    }
  },
  "host": "api.lufthansa.com",
  "basePath": "/v1",
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "flow": "application",
      "authorizationUrl": "https://api.lufthansa.com/v1/oauth/token",
	  "scopes": {
		"read:LH Open API": "read access"
	  }
    }
  },
    "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/references/countries/{countryCode}": {
      "get": {
        "description": "List all countries or one specific country. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Countries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "default": "DK",
            "type": "string",
            "description": "2-letter ISO 3166-1 country code"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "2 letter ISO 3166-1 language code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": "20",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": "0",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/references/cities/{cityCode}": {
      "get": {
        "description": "List all cities or one specific city. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Cities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cityCode",
            "in": "path",
            "required": true,
            "default": "BER",
            "type": "string",
            "description": "3-letter IATA city code"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "2 letter ISO 3166-1 language code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": "20",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": "0",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/references/airports/{airportCode}": {
      "get": {
        "description": "List all airports or one specific airport. All airports response is very large. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Airports",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "in": "path",
            "required": true,
            "default": "TXL",
            "type": "string",
            "description": "3-letter IATA airport code"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "2-letter ISO 3166-1 language code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": "20",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": "0",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "LHoperated",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Restrict the results to locations with flights operated by LH (false=0, true=1)"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/references/airports/nearest/{latitude},{longitude}": {
      "get": {
        "description": "List the 5 closest airports to the given latitude and longitude, irrespective of the radius of the reference point.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Nearest Airports",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Latitude in decimal format to at most 3 decimal places"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Longitude in decimal format to at most 3 decimal places"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "2 letter ISO 3166-1 language code"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/references/airlines/{airlineCode}": {
      "get": {
        "description": "List all airlines or one specific airline.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Airlines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "airlineCode",
            "in": "path",
            "required": true,
            "default": "LH",
            "type": "string",
            "description": "2-character IATA airline/carrier code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": "20",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": "0",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/references/aircraft/{aircraftCode}": {
      "get": {
        "description": "List all aircraft types or one specific aircraft type.",
        "tags": [
          "Reference Data"
        ],
        "operationId": "Aircraft",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "aircraftCode",
            "in": "path",
            "required": true,
            "default": "33P",
            "type": "string",
            "description": "3-character IATA aircraft code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": "20",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": "0",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/offers/seatmaps/{flightNumber}/{origin}/{destination}/{date}/{cabinClass}": {
      "get": {
        "description": "Cabin layout and seat characteristics.",
        "tags": [
          "Offers"
        ],
        "operationId": "Seat Maps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flightNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Flight number including carrier code and any suffix (e.g. 'LH2037')"
          },
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'TXL')"
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Destination airport. 3-letter IATA airport code (e.g. 'MUC')"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Departure date (YYYY-MM-DD)"
          },
          {
            "name": "cabinClass",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cabin class: 'M', 'E', 'C', 'F'. Some flights have fewer classes (Acceptable values are: \"M\", \"E\", \"C\", \"F\")"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/offers/lounges/{location}": {
      "get": {
        "description": "Lounge information",
        "tags": [
          "Offers"
        ],
        "operationId": "Lounges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "3-leter IATA airport or city code (e.g. 'ZRH')"
          },
          {
            "name": "cabinClass",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cabin class: 'M', 'E', 'C', 'F' (Acceptable values are: \"\", \"M\", \"E\", \"C\", \"F\")"
          },
          {
            "name": "tierCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Frequent flyer level ('FTL', 'SGC', 'SEN', 'HON') (Acceptable values are: \"\", \"FTL\", \"SGC\", \"SEN\", \"HON\")"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language code."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/operations/flightstatus/{flightNumber}/{date}": {
      "get": {
        "description": "Status of a particular flight (boarding, delayed, etc.).",
        "tags": [
          "Operations"
        ],
        "operationId": "Flight Status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flightNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Flight number including carrier code and any suffix (e.g. 'LH400')"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The departure date (YYYY-MM-DD) in the local time of the departure airport"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/operations/flightstatus/route/{origin}/{destination}/{date}": {
      "get": {
        "description": "Status of flights between a given origin and destination on a given date.",
        "tags": [
          "Operations"
        ],
        "operationId": "Flight Status by Route",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "3-letter IATA airport (e.g. 'FRA')"
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "3-letter IATA airport code (e.g. 'JFK')"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Departure date (YYYY-MM-DD) in local time of departure airport"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/operations/flightstatus/arrivals/{airportCode}/{fromDateTime}": {
      "get": {
        "description": "Status of all arrivals at a given airport up to 4 hours from the provided date time.",
        "tags": [
          "Operations"
        ],
        "operationId": "Flight Status at Arrival Airport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "3-letter IATA aiport code (e.g. 'ZRH')"
          },
          {
            "name": "fromDateTime",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Start of time range in local time of arrival airport (YYYY-DD-MMTHH:mm)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/operations/flightstatus/departures/{airportCode}/{fromDateTime}": {
      "get": {
        "description": "Status of all departures from a given airport up to 4 hours from the provided date time.",
        "tags": [
          "Operations"
        ],
        "operationId": "Flight Status at Departure Airport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'HAM')"
          },
          {
            "name": "fromDateTime",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Start of time range in local time of departure airport (YYYY-DD-MMTHH:mm)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/operations/schedules/{origin}/{destination}/{fromDateTime}": {
      "get": {
        "description": "Scheduled flights between given airports on a given date.",
        "tags": [
          "Operations"
        ],
        "operationId": "Flight Schedules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'ZRH')"
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Destination airport. 3-letter IATA airport code (e.g. 'FRA')"
          },
          {
            "name": "fromDateTime",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01"
          },
          {
            "name": "directFlights",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Show only direct flights (false=0, true=1). Default is false"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Number of records skipped. Defaults to 0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  }
}